
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Adminlte
@import '~admin-lte/scss/AdminLTE';

// FaFaIcon
@import '~fontawesome-free/scss/fontawesome';